%ul
  - cart.purchases.each do |purchase|
    %li
      = link_to purchase.item, [purchase.item.category, purchase.item]
      = link_to 'delete', purchase, :method => :delete

%div
  = semantic_form_for @order do |form|
    = form.actions
