%ul.items
  - collection.each do |item|
    %li
      %h3= item

      %div
        = image_tag item.image.thumb('x130').url

      %ul
        - item.properties.each do |property|
          %li= property


